body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

/* Heading */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

#title {
  background-color: #ff4c68;
  text-align: left;
}

/* Home Page Container */

.container_fluid{
  padding: 6% 15%;
}


/* NAV BAR*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-Light";
}

/* TITLE */

#title .container_fluid {
  padding: 3% 15% 6% 15%;
}

/* DOWNLOAD BUTTON */
.download-button {
  margin: 1rem 0.8rem 1rem 0;
}

/* HOME PAGGE IMG */
.home_page_img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  left: 100px;
}




/* FEATURES Section */
#features {
  position: relative;
  background-color: white;
}

.feature_image {
  color: #ef8172;
  font-size: 3.5rem;
}

.feature_image:hover {
  color: #ff4c68;
}

.title_text_features {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.text_features {
  color: #8f8f8f;
  padding: 0 25%;
}

/* Testimonial Sectin */
#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial_image {
  min-width: 100px;
  width: 15%;
  border-radius: 100%;
  margin: 3rem;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

.prices-heading {
  color: #8f8f8f;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.text-white {
  color: white;
}

/*Call to Action*/
#cta {
  background-color: #ff4c68;

}

.download-button-cta {
  margin: 1rem 0.8rem 3rem 0;
}

/*Footer*/
#footer {
  background-color: #fff;
}

.div-footer-icons {
  margin: 3% 0 1%;
}

.footer-icons {
  margin: 0 0.5%;
}

/* Media Query Breakpoints */
@media (max-width: 1100px) {
  .home_page_img {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }

  .testimonial-text {
    font-size: 2rem;
  }

  .carousel-item {
    padding: 8rem 10rem;
  }

  #features {
    text-align: center;
    padding: 8rem 10rem;
    position: relative;
    background-color: white;
  }
}
